/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

.wrapper {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
	grid-gap: 15px;
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .item {
	background: lightgray;
	padding: 20px;
  }
  

